ul,
nav {
    list-style: none;
    /* raccourci pour spécifier type du marqueur d'item et la position du texte par rapport au marqueur d'item.*/
}

.header {
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    /* permet d'aligner les élèments */
    justify-content: space-between;
    /*  indique la façon dont l'espace doit être réparti entre et autour des éléments selon l'axe principal d'un conteneur flexible */
    align-items: center;
    font-family: 'Montserrat';
    padding: 0 6vw;
    height: 100px;
    a {
        color: #FFF;
    }
}
.modal {
    z-index: 1000;
    position: absolute;
    top: calc(50% - (380px/2));
    left: 40%;
    @keyframes slideDownFadeIN {
        from {
            top: -100px;
            opacity: 0;
        }
        to {
            top: 0px;
            opacity: 1;
        }
    }
    .modal {
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal:target {
        display: table;
        position: absolute;
    }
    .modal-dialog {
        display: table-cell;
        vertical-align: middle;
    }
    .modal-dialog .modal-content {
        margin: auto;
        background-color: #f3f3f3;
        position: relative;
        padding: 20px 42px;
        outline: 0;
        text-align: justify;
        height: 380px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: slideDownFadeIN;
        animation-duration: 0.5s;
    }
    .modal-content {
        h2{
            text-align: center;
            color: #DD4124;
        }
    }
    .closebtn {
        text-decoration: none;
        float: right;
        font-size: 35px;
        font-weight: bold;
        color: #555;
    }
    .closebtn:hover,
    .closebtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .container {
        padding: 2px 16px;
    }
    form{
        width: 100%;
        input{
            height: 45px;
            width: 100%;
            border: none;
            margin: 20px 0;
            padding: 0 10px;
        }
        .radio{
            width: 14px;
            height: 14px;
            font-size: 14px;
        }
    }
    button{
        border: none;
        color: #DD4124;
        background-color: white;
        width: 125px;
        height: 35px;
        border-radius: 10px;
        display: block;
        margin: 20px 0 0 auto;
        border-radius: 1px;
    }
    .link-forgot{
        display: block;
        text-decoration: underline;
        font-size: 14px;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 45px;
    transition: transform ease-out .5s;
    a {
        font-size: 1.250em;
        font-weight: 500;
    }
}

.burger-button {
    z-index: 10;
    display: none;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #FFF;
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
    }
    &::after {
        bottom: -8px;
        left: 0;
    }
    &::before {
        top: -8px;
        left: 0;
    }
}

.logo {
    color: #FFF;
    font-weight: 800;
    font-size: 1.875em;
    line-height: 37px;
}

.header-panier {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $vert;
    border-radius: 100%;
    // padding: 0.500em;
    width: 50px;
    height: 50px;
    img {
        width: 25px;
    }
}

.header-button {
    background-color: $vert;
    padding: 0.6em 0;
    border-radius: 0 1.500em 1.500em 1.500em;
    width: 170px;
    height: 50px;
    text-align: center;
}

@media all and (max-width: 700px) {}