.profil-item{
    position: relative;
    width: 380px;
    height: 480px;
    background-color: blue;
    border-radius: 20px;
}
.profil-image{
    height: 480px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.profil-filter{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000, $alpha: .2);
    border-radius: 20px;
}
.container-profil-info{
    left: 20px;
    bottom: 50px;
    position: absolute;
    z-index: 100;
}
.profil-name{
    font-size: 40px;
}
.profil-desc{
    font-size: 25px;
    font-weight: 500;
}