.headerTransparent{
    display:flex; /* permet d'aligner les élèments */
    justify-content: space-between; /*  indique la façon dont l'espace doit être réparti entre et autour des éléments selon l'axe principal d'un conteneur flexible */
    align-items: flex-start;
    padding : 0 100px;
    font-family: var(--main-typo);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-image: url("../../../public/assets/images/bg-projet-final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 80vh;
}
.headerGreen > .navFlex {
    display: flex;
}
.navFlex{
    display: flex;
    margin: 40px 0 0 0;
}
.navFlex > li > a {
    margin-left: 20px;
}

/* Section nous rejoindre */ 

.sectionNousRejoindre{
    height: auto;
    padding: 80px 91px;
}
.decouvrirProjet{
    font-family: var(--main-typo);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: var(--font-height-title);
    margin: 0 0 0 40px;
    position: relative;
}
.decouvrirProjet::before {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #88BB4B;
    position: absolute;
    top: -12px;
    left: -40px;
}
.containerProjet{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.containerImageBloc{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 618px;
    height: 622px;
    background-color: grey;   
    border-radius: 20px;
    margin: 60px 0;
}
#imageUn{
    background-image: url(../../../public/assets/images/image_nous_rejoindre.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
#imageDeux{
    background-image: url(../../../public/assets/images/image_nous_rejoindre.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.masqueNoir{
    width: 618px;
    height: 622px;
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 20px;
    position: relative;
}
.titreProjet{
    position: absolute;
    font-family: var(--main-typo);
    font-size: 30px;
    margin: 0 30px;
    bottom: 50px;
    color: white;
}

/* Section map */ 

.sectionMap{
    height: 90vh;
    padding: 0 91px;
    max-width: 1440px;
}

.mapTitle{
    font-family: var(--main-typo);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: var(--font-height-title);
    margin: 0 0 0 40px;
    position: relative;
}
.mapTitle::before{
    content: '';
    width: 60px;
    height: 4px;
    background-color: #88BB4B;
    position: absolute;
    top: -12px;
    left: -40px;
}
.container-map-flex{
    width: 100%;
    display: flex;
    margin: auto;
}
.containerMap{
    width: 50vw;
    height: 85vh;
    div{
        height: 80%;
        border-radius: 20px;
    }
}
.show-map{
    width: 100%;
    height: 1000px;
}
.container-map-txt{
    height: 75vh;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0 20px 20px 0;
    p{
        text-align: justify;
    }
}

/* Section présentation agriculteur */ 

.sectionProfils{
    height: auto;
    padding: 95px 91px;
}
.titleAgri{
    font-family: var(--main-typo);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: var(--font-height-title);
    margin: 0 0 0 40px;
    position: relative;
}
.titleAgri::before{
    content: '';
    width: 60px;
    height: 4px;
    background-color: #88BB4B;
    position: absolute;
    top: -12px;
    left: -40px;
}
.container-profils {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1400px;
    margin: 50px auto 150px auto;
    padding: 25px;
}
